{% extends "PagPrincipal/base.html" %}
{% block title%}
    Monografiando | Pagina Principal
{% endblock%}
{%block contenido%}
    <div style="">
    {% if Resumen %}
        {% for mod in Resumen  %}
            <div style='height:40px'></div>
            <h1><a href="{%url 'entrys:verModulo' Usro.numTemp mod.0.id%}">{{mod.0.tituloMod}}</a></h1>
            <h2>{{mod.1.tituloSem}}th week</h2>
            {% for ev in mod.2 %}
                <h3>{{ev.nombre}}</h3>
                <p>{{ev.comentarioSimple}}</p>
                <h4>{{ev.fecha}}</h4>
            {% endfor %}
        {% endfor %}
    {% endif %}
    </div>
{% endblock  %}
