
{% extends "PagPrincipal/base.html" %}
{% block cssAdicional %}
    .liCambiar li{
    margin-bottom: 10px;
    }
{% endblock  %}
{% block title %}
 entrando a la pagina
{% endblock title %}
{% block contenido%}
<Form action= "{% url 'Usuarios:entrar' %}" method='post'>
{% csrf_token %}
    <ul class="liCambiar"style="list-style-type:none;">
    <li>
     <label for='nombreCompleto' >Nombre y Apellido</label>
     <input  type='text' id='nombreCompleto' name='nombre'>
    </li>
    <li>
     <label for='Contra' >Contraseña</label>
     <input type='password' id='Contra' name='pw'>
    </li>
    <li>
    <input type="submit" value="Entrar">
    </li>
    </ul>
</form>
{% endblock  %}


